version: '3.3'
services:
  db:
    image: docker.io/library/postgres:16.3-alpine
    environment:
      - POSTGRES_USER=visitors
      - POSTGRES_PASSWORD=visitors
      - POSTGRES_DB=visitors
    volumes:
      - ./postgres_visitors_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  visitors_service:





    image: visitors:v1.0.0.0
    environment:
      - DATABASE_URL=postgresql://visitors:visitors@db/visitors
      - DJANGO_DEBUG=True
      - DJANGO_ALLOWED_HOSTS=visitors.local
      - DJANGO_ADMIN_URL=admin/
      - DEBUG=True
      - SECRET_KEY=VisitorsSecret
    volumes:
      - ./VISITORS_LOGS:/var/log/spectacular
    ports:
      - "8443:8443"
    depends_on:
      - db
